.package-boxes .content-package {
	width: 430px;
	height: auto;
	min-height: 608px;
	padding: 12px 0;
	background-color: #f7fcff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	box-shadow: #24242429 0px 0px 2px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: box-shadow, 0.2s ease-in-out;
	-webkit-transition: box-shadow, 0.2s ease-in-out;
	-moz-transition: box-shadow, 0.2s ease-in-out;
	-ms-transition: box-shadow, 0.2s ease-in-out;
	-o-transition: box-shadow, 0.2s ease-in-out;
}

.package-boxes .content-package:is(:hover) {
	box-shadow: #24242429 0px 12px 24px;

	border: 1px solid var(--second-500);
	min-height: 670px;
}

.package-boxes .content-package .pack-name {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 500;
}

.package-boxes .content-package .pack-price-box {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 25px;
}

.package-boxes .content-package span.currency {
	font-size: 16px;
	font-weight: 500 !important;
}

.package-boxes .content-package span.price {
	font-weight: bold;
	font-size: 28px;
}

.package-boxes .content-package span.discount-price {
	font-weight: 400;
	color: var(--black-200);
	font-size: 20px;
	text-decoration: line-through;
}

.package-boxes .content-package span:nth-child(3) {
	display: block;
	width: 100%;
	font-weight: 600;
	font-size: 18px;
	margin-right: 10px;
}

.package-boxes .content-package span {
	color: #011723;
}
.package-boxes .content-package .package-type {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 25px;
	color: var(--second-500);

	display: flex;
	justify-content: center;
	align-items: center;
}

.package-boxes .content-package .package_btn {
	color: #eff9ff;
	width: 100%;
	height: 56px;
	background-color: #02466a;
	font-size: 22px;
	font-weight: 400;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.package-boxes .content-package .current_package_btn {
	background-color: transparent;
	color: var(--second-500);
	cursor: auto;
	font-weight: 500;
}

/*  top package */
.package-boxes .top-package {
	min-height: 690px;
	border: 1px solid var(--second-500);
	box-shadow: #24242429 0px 12px 24px;
}

.package-boxes .top-package .pack-name {
	font-size: 26px;
	color: var(--second-500);
	font-weight: 700;
}
.package-boxes .top-package span.price {
	font-size: 38px;
	font-weight: 800;
}
.package-boxes .top-package .package_btn {
	background-color: var(--second-500) !important;
	color: #fff;
}
@media (max-width: 768px) {
	.package-boxes .content-package {
		width: 100%;
	}

	.package-boxes .content-package .package_btn {
		height: 48px;
		font-size: 20px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
	}
}
