.sign-in-box .all-content .box-container-form .all .box {
	gap: 30px !important;
	margin: 70px 0 8px 44px !important;
}

.password-field .show-password-icon g path,
ellipse {
	fill: #c7bdbd !important;
}

.sign-in-box .all-content .box-container-form .all .box h5 {
	font-size: 16px !important;
	font-weight: 400 !important;
}

.sign-in-box .all-content .box-container-form .all .top .check {
	gap: 2px !important;
}
.sign-in-box .all-content .box-container-form .all .top {
	margin-bottom: 30px !important;
}
.sign-in-box .all-content .box-container-form .all .top .check h6 {
	font-size: 16px !important;
	font-weight: 400 !important;
}

.sign-in-box .all-content .box-container-form .all .top .form-check input {
	height: 18px !important;
	border: 1px solid #e4e4e4 !important;
}
.form-check-input:checked {
	background-color: #1dbbbe;
}
