.ck .ck-toolbar {
	background-color: #f8f9fa;
	border: 2px solid var(--bs-gray-200);
	width: 100%;
	max-width: 100%;
	padding: 10px;
	border-radius: 5px 5px 0 0 !important;
	-webkit-border-radius: 5px 5px 0 0 !important;
	-moz-border-radius: 5px 5px 0 0 !important;
	-ms-border-radius: 5px 5px 0 0 !important;
	-o-border-radius: 5px 5px 0 0 !important;
}
.ck .ck-toolbar__items {
	display: flex;
	align-items: center !important;
	flex-flow: row wrap !important;
	flex-grow: 1 !important;
	justify-content: flex-start !important;
	flex-direction: row-reverse !important;
}
.ck .ck-content {
	background-color: #fff;
	border: 1px solid #d3d3d3 !important;
	overflow-y: auto;
	text-align: right !important;
}
.create-pages-form-wrapper .ck .ck-content {
	height: 400px;
}
